/* Bagian header*/
body {
    font-family: sans-serif;
}

.navigasi {
    display: flex;
    background-color: #2C3E50; /* Warna latar belakang navigasi */
    color: #FFFFFF; /* Warna teks navigasi */
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 50px; /* Sesuaikan lebar logo */
    height: auto; /* Atur ketinggian otomatis agar tidak merubah proporsi */
    margin-right: 20px; /* Jarak antara logo dan link */
}

.link {
    position: absolute;
    right: 10px;
}

.navbar {
    display: flex;
    gap: 20px;
}

.navbar li {
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #2C3E50; /* Warna border */
    list-style-type: none;
    transition: background-color 0.8s ease;
}

.navbar li a {
    text-decoration: none;
    color: #FFFFFF; /* Warna teks link */
}

.navbar li a.active {
    background-color: #3498DB; /* Warna latar belakang saat aktif */
    color: #FFFFFF; /* Warna teks saat aktif */
    border-radius: 5px;
    padding: 10px;
}

.navbar li:hover {
    background-color: #3498DB; /* Warna latar belakang saat hover */
}

.navbar li:hover a {
    color: #FFFFFF; /* Warna teks saat hover */
}

/* Bagian isi container */
.container {
    margin: 0;
    padding: 20px;
}

.isi {
    padding: 50px;
    text-align: center;
}

.isi h2 {
    color: #2C3E50; /* Warna teks heading */
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th {
    border: 2px solid #2C3E50; /* Warna border */
    padding: 8px;
    text-align: left;
    color: #2C3E50; /* Warna teks */
    background-color: #3498DB; /* Warna latar belakang */
}

td {
    padding: 8px;
    text-align: left;
    border: 2px solid #2C3E50; /* Warna border */
    background-color: #ECF0F1; /* Warna latar belakang */
    color: #2C3E50; /* Warna teks */
    opacity: 0.8;
}

tr:nth-child(even) {
    background-color: #ECF0F1; /* Warna latar belakang */
}

/* Bagian Footer*/
footer {
    background-color: #2C3E50; /* Warna latar belakang footer */
    color: #FFFFFF; /* Warna teks footer */
    text-align: center;
    padding: 20px;
}
